* {
    font-family: Roboto;
}

input.my_class-bg-color {
    background-color: #e5e5e5;
    width: 25rem;
}

@media screen and (min-width: 576px) {
    span.my_class-display-nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    input.my_class-bg-color {
        width: 38rem;
    }
}

@media screen and (min-width: 992px) {
    input.my_class-bg-color {
        width: 50rem;
    }

    span.my_class-display-nav {
        display: inline-block;
    }
}

span.my_fs {
    font-size: .7rem;
    background-color: #155ab9;
    padding: .1rem .5rem .1rem .5rem;
    border-radius: .6rem;
}

span.my_fs_special {
    font-size: .7rem;
    background-color: #155ab9;
    padding: .24rem .5rem .24rem .5rem;
    border-radius: 50%;
}

span.my_span {
    border: solid white;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: .2rem;
    border-width: .08rem;
    margin-left: .8rem;
}

ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.my_class-background-color {
    background-color: #1b72e8;
    width: 100vw;
}

.my_class-nav-verticale {
    height: 145vh;
    width: 200px;
    background-color: #0f253b;
    color: white;
}

.my_nav {
    width: 100vw;
}

img.my_height {
    height: 50px;
}



