* {
    font-family: Roboto;
}

ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/*HEADER*/
img.my_height-display {
    height: 50px;
}

@media screen and (min-width: 576px) {
    img.my_class-img2 {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    img.my_height-display {
        display: none;
    }
    img.my_class-img2 {
        display: inline-block;
    }
}

input.my_class-bg-color {
    background-color: #e5e5e5;
    width: 25rem;
}

@media screen and (min-width: 576px) {
    span.my_class-display-nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    input.my_class-bg-color {
        width: 38rem;
    }
}

@media screen and (min-width: 992px) {
    input.my_class-bg-color {
        width: 45rem;
    }

    span.my_class-display-nav {
        display: inline-block;
    }
}

/*MAIN*/
.my_class-nav-2 {
    width: 100px;
}

.my_class-nav-1200px {
    font-size: .7rem;
}

span.my_class-nav-1200pxx {
    font-size: 1rem;
}

div.my_class-div {
    width: calc(100vw - 65px);
}

/*MAIN*/
/*Parte blu*/
span.my_fs {
    font-size: .7rem;
    background-color: #155ab9;
    padding: .1rem .5rem .1rem .5rem;
    border-radius: .6rem;
}

span.my_fs_special {
    font-size: .7rem;
    background-color: #155ab9;
    padding: .24rem .5rem .24rem .5rem;
    border-radius: 50%;
}

.my_class-background-color {
    background-color: #1b72e8;
}

.my_class-nav-verticale {
    height: 180vh;
    width: 65px;
    background-color: #0f253b;
    color: white;
}

@media screen and (min-width: 992px) {
.my_class-nav-verticale {
    height: 100vh;
}
}

button.my_class-button {
    border: solid white;
    border-radius: .3rem;
    border-width: .08rem;
}




